@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1F1F1F;
}

.timezone-converter {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .city {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 10px;
}

.Select__control {
  width: 200px;
} */
